
header{
    background-color: #000;
    color: #fff;
}
span{
    justify-content: flex-start;
}

.nav{
    display: flex;
    justify-content: right;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    align-items: flex-start;
    padding: .8em 1em;;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

#span{
    flex-direction: row;
}

.nav{
    justify-content: right;
}

#hero{
    height: 600px;
    background-image: url(../css/../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
}


h1{
    max-width: 60% auto;
    background-color: rgba(0, 0, 0, .5);
    max-width: 60%;
    text-align: center;
    text-shadow: #000;
}


#about-me{
    grid-template-columns: 1fr, 1fr;
}