* {
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
} 

img {
    max-width: 100%;
}

h2{
    font-size: 2rem;
}

header{
    background-color: #000;
    color: #fff;
}

.name{
    display: flex;
    justify-content: left;
    font-size: 1.5em;
    text-align: center;
    justify-content: left;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: right;
    padding-bottom: 1em;
}

nav ul li a:link,
nav ul li a:visited{
    display: inline-block;
    margin-right: 1em;
    padding: .5em 1em;
    text-decoration: none;
    color: #fff;
}


.wrapper{
    max-width: 940px;
    margin: 0 auto;
}


#hero{
    height: 600px;
    background-image: url(../css/../images/hands-typing.jpg);
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    display: grid;
    justify-content: center;
    align-content: center;
    color: #fff;
}

h1{
    max-width: 60%;
    background-color: rgba(0, 0, 0, .6);
    text-align: center;
    font-size: 3rem;
    text-shadow: 2px 2px 5px black;
}

#about-me{
    align-items: center;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#services{
    background-color: #fafafa;
}

.service-heading{
    text-align: center;
    padding-top: 2em;
}

.grid-2 {
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    padding: .5em;
    gap: 40px;
}

.article{
    flex-direction: column;
}

.grid-2 a{
    display: inline-block;
    background-color: black;
    color: #fff;
    border: 3px solid black;
    text-decoration: none;
    border-radius: 3px;
    padding: .5em 1em;
    padding-bottom: .5em;
    margin-bottom: 1em;
    margin-top: 1.5em;
}

.grid-2 a:hover{
    background-color: #fff;
    color: #000;
}

.work-heading, .work-p{
    text-align: center;
    max-width: 900px;
}

.img-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "img1 img1 img1 img2 img2 img2"
    "img3 img3 img4 img4 img5 img5"
    ;
}

.img-2 img:nth-child(1){
    grid-area: img1;
}

.img-2 img:nth-child(2){
    grid-area: img2;
}

.img-2 img:nth-child(3){
    grid-area: img3;
}

.img-2 img:nth-child(4){
    grid-area: img4;
}

.img-2 img:nth-child(5){
    grid-area: img5;
}


